@media (max-width: 768px) {
    .pikk-btn1 .bg1
    .pikk-btn2 .bg2{
        margin: 20px;
        border-radius: 18px;
    }
    .burger {
        align-items: flex-start;
        padding: 60px;
    }
    .burger {
        display: block; /* burger visible sur mobile */
    }

    nav {
        display: none; /* nav cachée par défaut sur mobile */
    }

    nav.open {
        display: flex; /* nav visible quand menu ouvert */
    }

    .galerie-real {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
        gap: 20px;
    }

    .galerie-real img{
        width: 90%;
        border-radius: 5%;
    }

}

